<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Henter head componet fra folderen af  -->
    <%- include('./ejsComponets/head') %>
    
    <link rel="stylesheet" href="/css/pagesCss/createRecipes.css">
    <script src="/js/createRecipes.js" defer></script>
    <title>DFMB - Opret opskrift</title>
</head>

<body>
    <header>
        <!-- Henter header componet fra folderen af  -->
        <%- include('./ejsComponets/header') %>
    </header>

    <main>
        <form action="/createRecipes" method="post" onsubmit="SaveData()" class="shadow p-3 mb-5 bg-body-tertiary rounded"> 
            <h1>Opret opskrift</h1>
            
            <% if (error) { %>
                <p class="error">Der er en fejl i de indtastet oplysninger</p>
            <% } %>

            <!-- Indsæt tittel -->       
            <label for="tittel" class="form-label">Tittel *</label>
            <div class="input-group mb-3">
                <input id="tittel" type="text" name="title" class="form-control" placeholder="Tittel">
            </div>

            <!-- Indsæt instruktioner -->              
            <div class="mb-3">
                <label for="instruktioner" class="form-label">Instruktioner *</label>
                <textarea class="form-control" id="instruktioner" name="instruktioner" rows="3" placeholder="Instruktioner" ></textarea>
            </div>

            <!-- Indsæt ingredienser -->       
            <div class="mb-3">
                <label class="form-label">Opret ingrediens</label>
                <input id="ingredientName" type="text" class="form-control" placeholder="Navn på ingrediensen">
                <div class="input-group mb-3">
                    <input id="ingrediensMeasurements" type="number" class="form-control" placeholder="Mængde">
                    <select id="ingredientUnit" class="form-select">
                        <option>kilo</option>
                        <option>gram</option>
                        <option>liter</option>
                        <option>milliliter</option>
                        <option>deciliter</option>
                        <option>teskefuld</option>
                        <option>spiseskefuld </option>
                    </select>          
                    <button type="button" id="createIncredient" class="btn btn-primary additional">Tilføj ingrediensen</button>
                </div>

                <label class="form-label">Ingrediens list (mindst en)*</label>
                <div id="ingredientList"></div>
            </div>

            <!-- Vælg mellem Person eller Stk -->       
            <label for="personOrStk" class="form-label">Person eller Stk *</label>
            <div class="input-group mb-3">
                <select id="personOrStk" name="personOrStk" class="form-select">
                    <option>Person</option>
                    <option>Stk</option>
                </select>                
            </div>

            <!-- Indsæt Mængde -->       
            <label for="measurements" class="form-label">Mængde *</label>
            <div class="input-group mb-3">
                <input id="measurements" type="number" min="1" max="100" class="form-control" name="measurements" placeholder="Mængde til personer eller stk" >
            </div>

            <!-- Indsæt et billed -->       
            <div class="mb-3">
                <label for="imgFile" class="form-label">Vælg et billed til opskriften *</label>
                <input class="form-control" type="file" accept="image/*" id="imgFile" name="imgFile" >
            </div>
            <button type="submit" id="createIncredient" class="btn btn-primary additional">Opret opskrift</button>
        </form>
    </main>

    <footer>
        <!-- Henter footer componet fra folderen af  -->
        <%- include('./ejsComponets/footer') %>
    </footer>
</body>
</html>

