<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Henter head componet fra folderen af  -->
    <%- include('./ejsComponets/head') %>
    
    <link rel="stylesheet" href="/css/pagesCss/login.css">
    <title>DFMB - Forside</title>
</head>

<body>
    <header>
        <!-- Henter header componet fra folderen af  -->
        <%- include('./ejsComponets/header') %>
    </header>

    <main>
           <h1>index</h1>
    </main>

    <footer>
        <!-- Henter footer componet fra folderen af  -->
        <%- include('./ejsComponets/footer') %>
    </footer>
</body>
</html>