html body{
    background-color: #eae9f1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This is required to make the footer stick to the bottom of the viewport */
}

main {
    flex-grow: 1; /* This will push the footer to the bottom */
}
  
footer {
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

