html body{
    background-color: #eae9f1;
}

/* Sætter siden op til header, main og footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
  
footer {
    background-color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

