main .row {
    margin: auto;
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    margin-top: 3%;
    display: flex;
    flex-direction:column;
}

main .row2 {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}


main .additional {
    width: 100%;
    margin-bottom: 5%;
    font-weight: bold;
}

main h1 {
    text-align: center;
} 

main .error {
    color:  rgb(196, 42, 42);
    font-size: large;
    font-weight: bold;
}

/* bliver brugt til slet bruger knappen */
main #deleteUser form{
    margin: 0% !important;
    padding: 0% !important;
}

main #deleteUser button{
    background-color: rgb(202, 66, 66);
    border-color: rgb(109, 24, 24);
}

main #deleteUser button:hover{
    background-color: rgb(182, 44, 44);
    border-color: rgb(109, 24, 24);
}


/* Bliver brugt til at vise opskrifterne en har lavet */
main .row3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

main .colum3 {
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    padding-top: 1%;
    padding-bottom: 1%;
}

main .colum3 h4 {
    text-align: center;
}

main .colum3 div {
    display: flex;
    justify-content: space-evenly;
}

main .colum3 form:nth-child(2) button {
    background-color: rgb(182, 44, 44);
    border-color: rgb(109, 24, 24);
}

main .colum3 form {
    margin-left: 2%;
    margin-right: 2%;
}

main .colum3 .img {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
}

main .colum3 img {
    width: 80%;
    max-width: 300px;
    min-width: 200px;
}