<!-- Denne component ville blive sat inde i "fotter" elementet på sidderne -->

<!-- Colunms og rows -->
<div id="footer-column">
    <div class="footer-row">
        <ul>
            <li><h4>DFMB</h4></li>
            <li><b>Addresse:</b> H. C. Andersens Vej 9</li>
            <li><b>By:</b> Viborg 8800</li>
            <li><b>Email:</b> Mercantec@outlook.dk</li>
            <li><b>Tlf:</b> 89 50 33 00</li>
        </ul>
    </div>
       
    <div class="footer-row">
        <ul>
            <li><h4>Navigation</h4></li>
            <li><a href="#">Forside</a></li>
            <li><a href="#">Omkrign os</a></li>
        </ul>    
    </div>

    <div class="footer-row">
        <ul>
            <li><h4>Find os</h4></li>
            <li><a href="https://twitter.com">Twitter: <i class="bi bi-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com">Linkedin: <i class="bi bi-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com">Facebook: <i class="bi bi-facebook"></i></a></li>
        </ul>    
    </div>
</div>