<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DFMB (din favorit mad blog)</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation sidder -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Forside</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/aboutUs">Omkrign os</a>
                </li>
            
                    <!-- Tjekker authentication  -->
                <% if (true) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/usersite">jonas arvad kristiansen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/createrecipes">Opret opskrift</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Logud</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>

            <!-- Søge boks -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
        </div>
    </div>
</nav>